body {
    background-color: #191a1b;
    color: white;
    text-align: center;
    margin-top: 8%;
    font-family: "lato";
    font-size: 70px;
    font-weight: 300px;
}

button {
    width: 100px;
    height: 35px;
    background: grey;
    color: white;
}

button:hover{
    cursor: pointer;
}