@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body, html {
    margin: 0;
    scroll-behavior: smooth;
}

.firstEl {
    margin-top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #1D1D1B; 
}
::-webkit-scrollbar-thumb {
    background:  #AE9A64;
}